Source: linssid
Section: devel
Priority: optional
Maintainer: Warren Severin <wseverin@warsev.com>
Standards-Version: 3.9.2
Homepage: http://sourceforge.net/projects/linssid
Build-Depends: debhelper (>= 8.0.0), libqt4-dev, qt4-qmake, cdbs,
 libboost-regex-dev (>=1.46), libqwt-dev, g++-4.6, libstdc++6-4.6-dev
#Vcs-Git: git://git.debian.org/collab-maint/linssid.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/linssid.git;a=summary

Package: linssid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wireless-tools
#Depends: libc6 (>= 2.13), libgcc1 (>= 1:4.1.1), libqtcore4 (>= 4:4.7.0~beta1),
# libqtgui4 (>= 4:4.5.3), libqwt6, libstdc++6 (>= 4.6), wireless-tools
Recommends: sudo
Description: Graphical wireless scanner
 .
 LinSSID displays locally receivable 802.11 wireless attach points
 and ad hoc networks. A table is displayed with various parameters
 such as MAC address, channel, and signal strength. Graphs are also
 displayed with signal strength by channel and signal strength over time.
 LinSSID is graphically and functionally similar to Inssider (Microsoft™
 Windows®). It is written entirely in C++ using boost and QT4.
